

.Products{
    
    height: 100vh;
    

}
h1{
    margin-top: 14vh;
    font-size: 25px;
}
h2{
    font-size: 18px;
}
.products_content{
    height: 60vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.product_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    
    height: 30%;
}
.product_description{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}
.product_description p:first-child{
    font-style: italic;
    font-size: 19px;

}
.product_description p{
    font-size: 17px;
}

.product_items{
    background: white;
    color: black;
    overflow: hidden;
    width: 40%;
    border-radius: 5px;
}


@media screen and (min-width:1200px){

    #others,#edit,#merch{
        transition: 2s;
    }
    #edit:hover,#others:hover,#merch:hover{
    
        height: 100%;
        transition: 2s;
        
            
        }
    
    /*product 1*/
    .products_content:has(#edit:hover) #merch,.products_content:has(#edit:hover) #others{
    
        opacity: 0;
        
        height: 0%;
        transition: 2s;
        
            
        }
        .products_content:has(#edit:hover) #merch .product_description p,.products_content:has(#edit:hover) #others .product_description p{
    
            font-size: 0;
            transition-delay: 2s;
            
                
            }
    
            /*product 2*/
    
    .products_content:has(#merch:hover) #edit,.products_content:has(#merch:hover) #others{
    
        opacity: 0;
        height: 0%;
        transition: 2s;
        
            
        }
        .products_content:has(#merch:hover) #edit .product_description p, .products_content:has(#merch:hover) #others .product_description p{
    
            font-size: 0px;
            transition-delay: 2s;
            
                
            }
    
            /* product 3 */
    
        .products_content:has(#others:hover) #edit, .products_content:has(#others:hover) #merch{
    
            opacity: 0;
            height: 0%;
            transition: 2s;
            
                
            }
            .products_content:has(#others:hover) #edit .product_description p, .products_content:has(#others:hover) #merch .product_description p{
        
                font-size: 0px;
                transition-delay: 2s;
                
                    
                }
        

}



@media screen and (max-width:1200px){
    .Products{
        height: auto;
        padding-bottom: 150vh;
    }
    
    .product_block{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .product_items{
        height: 30vh;
        width: 80vw;
        overflow: scroll;
       
    }
    .product_description{
        width: 100%;
    }
}
@media screen and (min-width:650px) and (max-width:1200px){
    .Products{
        padding-bottom: 120vh;
    }
}