.shelf{
    padding-top: 100px;
    height: 100vh;
    box-sizing: border-box;
}


.shelf_description{
    border-style: solid;
  padding: 15px;
  width: 22vw;
  text-align: center;
  font-size: 13px;
}
.shelf_title_description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shelves-records{
    display: flex;
    width: 90vw;
    justify-content: space-between;

}

.records{
   
        
        width: 100%;
        max-height: 53vh;
        overflow: scroll;
        scroll-behavior: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 3%;
        margin-top: 0px;
        padding-top: 2px;
        
        
      
      
}
.records p{
   
    width: 21%;
    height: auto;
    margin-right: 1%;
    font-size: 15px;
    background: white;
    color: black;
    text-align: center;
    height: 150px;
    
    
  
  
}
.other_shelves{
    
    width: 30%;
    color: black;
    margin-right: 1vw;
    padding-top: 175px;
    padding-right: 10%;
    height: 40vh;
    overflow: scroll;
    
    
}
.back_to_shelves{
    display: none;
}
@media screen and (max-width: 650px){

    .back_to_shelves{
        display: block;
        position: absolute;
        top: 17vh;
        left: 75vw;
        width: 23vw;
        
        font-size: 9px;
    }

    .shelf_description{
        
      width: 75vw;
      
      font-size: 12px;
    }
    

    .shelves-records{
        display: flex;
        width: 95vw;
        justify-content: space-between;
    
    }
    .other_shelves{
        display: none;
    }
    .records{
   
        
        
        justify-content: space-between;
        padding: 7%;
        padding-top: 3%;
        margin-top: 0px;
        
        
        
      
      
}
.records p{
   
    width: 45%;
    
    font-size: 15px;
    background: white;
    color: black;
    text-align: center;
    height: 35vw;
    
    
  
  
}
}
.other_shelves a div{
    
    margin-top: -180px;
    width: 200px;
    height: 200px;
    
}

/*specific to each shelf */

#house_shelf #house{
    margin-left: 50px;
    margin-bottom: 50px;
}